
absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
attrs==20.3.0
aws-cfn-bootstrap==2.0
awscli==2.15.30
awscrt==v0.19.19
Babel==2.9.1
beautifulsoup4==4.9.3
boto==2.49.0
cffi==1.14.5
chardet==4.0.0
chevron==0.13.1
click==8.1.7
cloud-init==22.2.2
colorama==0.4.4
configobj==5.0.6
cryptography==36.0.1
dbus-python==1.2.18
distlib==0.3.1
distro==1.5.0
docutils==0.16
ec2-hibinit-agent==1.0.8
filelock==3.0.12
flatbuffers==24.3.25
gast==0.6.0
google-pasta==0.2.0
gpg==1.15.1
grpcio==1.66.0
h5py==3.11.0
idna==2.10
importlib_metadata==8.4.0
Jinja2==2.11.3
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.21
jsonpointer==2.0
jsonschema==3.2.0
keras==3.5.0
libclang==18.1.1
libcomps==0.1.20
lockfile==0.12.2
lxml==4.9.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.4.0
mysqlclient==1.4.2
namex==0.0.8
netifaces==0.10.6
nltk==3.8.1
nose==1.3.4
numpy==1.26.4
oauthlib==3.0.2
opt-einsum==3.3.0
optree==0.12.1
packaging==24.1
pandas==2.2.2
pip==21.3.1
ply==3.11
prettytable==0.7.2
prompt-toolkit==3.0.24
protobuf==4.25.4
py-dateutil==2.2
pycparser==2.20
Pygments==2.18.0
pyrsistent==0.17.3
pyserial==3.4
PySocks==1.7.1
python-daemon==2.3.0
python-dateutil==2.9.0.post0
pytz==2023.3.post1
PyYAML==5.4.1
regex==2021.11.10
release-notification==1.2
requests==2.25.1
rich==13.7.1
rpm==4.16.1.3
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
selinux==3.4
sepolicy==3.4
setools==4.4.1
setuptools==59.6.0
six==1.13.0
soupsieve==1.9.5
support-info==1.0
systemd-python==235
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
tqdm==4.66.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.25.10
virtualenv==20.4.0
wcwidth==0.2.5
Werkzeug==3.0.4
wheel==0.37.1
windmill==1.6
wrapt==1.16.0
zipp==3.20.0

